.cell {
    display: inline-block;
    width: 30px; height: 30px;
    text-align: right;
    border: .2px solid;
    text-align: center;
    vertical-align: super;
}
.header {
    background: lightblue;
}